
.my-grid {
display: grid;
grid-template-columns: auto 1fr;
grid-template-rows: auto 100 px;
}

.has-blue-background {
    background-color: #a7ddff;
    border: 1px solid #721ee3;

}

.has-yellow-background {
    background-color: #faf7a7;
    border: 1px solid #e38c1e;
}




p {
    width: 350px;
    inline-size: 350;
    height: 150px;
    block-size: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
}

.has-purple-backround{
    background-color: purple;
}
